html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
    font-family: "Roboto Mono", monospace ;
    padding: 0;
    margin: 0;
}

:root {
    --radius : 18px;
}

[data-theme-mode="light"] {
    --bg-color : #c8cde4;
    --fg-color : #606377;

    --calculator-outline : #d7d9e4;

    --text-color : #606377;

    --title-color : #50577A;

    --theme-button-on : url(img/1.png);
    --theme-brightness-svg : 80%;
}

[data-theme-mode="dark"] {
    --bg-color : #404258;
    --fg-color : #7f859e;

    --calculator-outline : #d7d9e4;

    --text-color : #d7d9e4;

    --title-color : aliceblue;

    --theme-button-on : url();
    --theme-brightness-svg : 40%;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 100vh;

    background: var(--bg-color);

    transition: background-color 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#left {
    height: 100%;
    min-width: 100px;

    flex: 1;
    background-color: transparent;
}

.title {
    z-index: 2;
    
    margin: 7%;

    padding: 0 15px;

    height: 3rem;
    width: 3rem;

    overflow:hidden;
    white-space: nowrap;
    font-size: larger;
    color: var(--title-color);

    border-radius: 1000px;

    background-color: var(--title-color);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    transition-property: color, width;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.title:hover {
    color: var(--bg-color);
    width: 19rem;
}

#theme-button {
    border: 0 transparent;
    border-radius: 1000px;

    margin: 7%;
    margin-top: 3%;
    
    height: 3rem;
    width: 3rem;

    background-color: var(--title-color);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);

}

#theme-button:hover {
    transform: scale(1.2);
}

.svg {
    height: 100%;
    width: 100%;

    background-image: var(--theme-button-on);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;

}

#middle {
    z-index: 1;
    height: 100%;
    
    
    flex: 2;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator-container {
    padding: 22px 20px 15px 20px;
    /* height: 80%; */
    height: 550px;
    width: 90%;
    /* min-width: 400px; */
    width: 410px;

    border: 2px solid var(--calculator-outline);
    border-radius: var(--radius);

    background-color: var(--fg-color);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#screen-container {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--calculator-outline);
    border-radius: var(--radius);
    background-color: rgb(201, 228, 169);

}

#screen {
    padding-right: 15px;
    width: 100%;

    border: 0px solid var(--calculator-outline);
    border-radius: var(--radius);

    background-color: rgb(201, 228, 169);

    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-size: 170%;
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-shadow: 0.2rem 0.2rem var(--fg-color);
}

#current-operator {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 70px;
    border: 0px solid var(--calculator-outline);
    border-radius: var(--radius);

    color: var(--fg-color);
    font-size: 250%;
    font-weight: 900;
}

#button-container {
    height: 90%;
    width: 100%;

    /* border: 2px solid var(--calculator-outline); */
    border-radius: var(--radius);

    background-color: var(--fg-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--text-color);
    font-weight: 800;
    font-size: x-large;
}

#top {
    flex: 1;
    background-color: var(--fg-color);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

#utility-container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.utility-button {

    max-width: 28%;

    flex: 1;

    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;

    border: 1px solid var(--calculator-outline);
    border-radius: var(--radius);

    background-color: var(--bg-color);

}

#operator-container {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.operator-button {
    flex: 1;
    
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;

    border: 1px solid var(--calculator-outline);
    border-radius: var(--radius);

    background-color: var(--bg-color);

}

#bottom {
    flex:2;
    background-color: var(--fg-color);

    display: flex;
    justify-content: space-between;
}

#number-container {
    flex: 4.5;
    background-color: var(--fg-color);

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;

    gap: 2px;
    padding: 1% 8px 0 0 ;
    
}

.number-button {
    flex: 1 0 27%;
    width: 33%;
    height: 24%;

    border: 1px solid var(--calculator-outline);
    border-radius: 12px;

    background-color: var(--bg-color);

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: inherit;
    font-weight: inherit;
    font-size: inherit;

}

#decimal {
    max-width: 33%;
}

.placeholder {
    flex: 1 0 100px;
    /* width: 100px; */
    height: 25%;

    
}

#equal {
    flex: 1;

    margin-top: 1%;

    border-radius: var(--radius);
    border: 2px solid var(--calculator-outline);

    display: flex;
    justify-content: center;
    align-items: center;

    color: inherit;
    font-weight: inherit;
    font-size: inherit;

    background-color: var(--bg-color);
}

button:hover,
button#equal:hover {
    background-color: aliceblue;
}


button:active {
    transform: scale(0.95);
}

#right {
    height: 100%;
    min-width: 100px;


    flex: 1;
    background-color: transparent;
}